.container header {
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: gray;
  padding: 10px;
}
.container section {
  font-size: 18px;
  padding: 20px;
}
.container footer {
  font-size: 10px;
  text-align: center;
}